
$header-background: /*#2196F3*/#00C2D9/*#00BFFF*/ /*#0a87fc*/;
$dark-blue: $header-background * 0.8;
$body-background: /*#EAEAEA;*/#EEEFEF!important;;
$shortcut-width: 45px;
$shortcut-height: 45px;

.page-items{
     text-align: center;
   // overflow: hidden;
    //display: inline-block;
   // width: 300px;
    //height: 300px;
 // background-color: #222222;

  i,p{
        color: $header-background !important;

  }
}
.white{
  color: #ffffff !important;
}
.page-items:hover, .page-items:active, .page-items:after, .page-items:focus{
  background-color: $header-background;
      color: #ffffff !important;

  i{
    color: white !important;
  }
}
.margin-top{
  margin-top: 45px;
}


.custom-navbar {
  background-color: $header-background;
  border: none;
  border-radius: 0px;
  width: 100%;
  padding-bottom: 0;
  .tab-button{
      color:#ffffff !important;
  }
  // color:#ffffff;
}
body, ul, li{
  height: 100% !important;

}
.vertical{
  min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */
  position: fixed;
  display: flex;
  right:20px;
  top:70px;
  align-items: center;
  z-index: 5;

}

.container-cus{
   align-content: stretch;
  background-color: $body-background;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width:100% !important;
  margin-left:0 !important;
  margin-right:0 !important;
 // padding-top: 54px   !important;
  //height: 100% !important;
  //position: relative;

}


.li-box{
      background-color: $body-background;
    cursor: pointer;
    float: left;
   // width: 330px;
    //height: 330px;
    position: relative;
  padding:26px 15px 26px 15px ;
}
.li-box:hover, .li-box:focus, .li-box:active, .li-box:active, .li-box:target {
  background-color: $header-background !important;
  .icon, .text{
    color: white;
  }
}
.darker-icon{
  background-color: #E8E8E8 !important;
}
.icon {

    text-align: center;
    overflow: hidden;
    color: $header-background * 1.1;
    font-size: 150px;
    padding-top: 0px;
    font-family: arabic;
    border: none;
}
.text {

    text-align: center;
    padding-top: 0px;
    color: $header-background * 1.1 ;
    font-size: 25px;
    font-family: arabic;
    border: none;
}
.brand-custom{
 // min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  //min-height: 85vh; /* These two lines are counted as one :-)       */
  position: relative;
  display: inline-block;
 // left:5px;
  top:3px;
  align-items: center;
  z-index: 5;

}

  .first-row{
  width: 100% ;
      height: 304px !important;
 top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;

}
  .second-row{
  width: 100%;
  height: 304px !important;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
        background-color: #EAEAEA!important;
    overflow-y: auto;


}

.body-background {
  margin: 0;
  background-color: $body-background;

  height: 100%;
}
.shortcut-menu{
   // position:fixed;
    text-align: center;
   // overflow-y: auto;
    height: 100%;
    max-height: 100%;
   position: relative;
  vertical-align: middle;
  display: inline-block;
  //overflow: hidden;
 .vcenter {
   position: absolute;
    text-align: center;
   // overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
   height: 100%;
   width: 50%;
  }

}



.shortcut_item {
  margin:0 0 30px 0;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  // list-style: none;
  background-color: $header-background;
  border-radius: 999px;
  border: 0 solid #ffffff;
  font-family: arabic;
  height: $shortcut-height;
  width: $shortcut-width;
  color: #ffffff;
  //padding-bottom:10px ;
  line-height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .icon-conf {
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;

  }
}
.shortcut_item:hover, .shortcut_item:active, .shortcut_item:focus, .shortcut_item:after, .shortcut_item:target{
 // @extend .shortcut_item;
  background-color: $dark-blue * 0.8;
}



.cus-active {
  //@extend .dropdown-links;
  @extend .nav-link1;
  background-color: $dark-blue;
}

.cus-div .cus-li:hover, .cus-div .cus-li:active, .cus-div .cus-li:after, .cus-div .cus-li:focus {
  @extend .cus-active;

}
.user-tab{
  background-color: $header-background;
}
.user-tab:hover, .user-tab:active, .user-tab:focus, .user-tab:after, .user-tab:target{
   background-color: $dark-blue;
  a:target{
    background-color: $dark-blue;
  }

}

.nav-link1 {
  height: 50px;
  border-bottom: 3px solid $header-background * 1.2 !important;
  color: #ffffff !important;
}
.dropdown-links{
 // background-color: red;
  font-size: 17px;
  .notification{
    color:/*#3B5998*/ $header-background * 0.6 !important;
  }

}
.dropdown-links:hover, .dropdown-links:after, .dropdown-links:active, .dropdown-links:focus, .dropdown-links:target{
  background-color: $header-background !important;
  }


.notification:hover, .notification:focus, .notification:after, .notification:active, .notification:target{
  color:#ffffff !important;
  background-color: $header-background !important;
}
.cus-footer{
   // text-align: center;
  //  align-content: left;
    //position:absolute;
   // alignment: left;
  position: relative;
    float: left;
    width: 300px;
    height: 30px;
    background-color: $header-background;
    border-radius:0 15px 0 0 ;
    border: 0px solid white;
    color: #ffffff;
    //bottom: 0;

     p{
         position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
     text-align: center;

     }
}
.cus-footer:hover{
  background-color: $dark-blue;
}






