.page-items {
  text-align: center; }
  .page-items i, .page-items p {
    color: #00C2D9 !important; }

.white {
  color: #ffffff !important; }

.page-items:hover, .page-items:active, .page-items:after, .page-items:focus {
  background-color: #00C2D9;
  color: #ffffff !important; }
  .page-items:hover i, .page-items:active i, .page-items:after i, .page-items:focus i {
    color: white !important; }

.margin-top {
  margin-top: 45px; }

.custom-navbar {
  background-color: #00C2D9;
  border: none;
  border-radius: 0px;
  width: 100%;
  padding-bottom: 0; }
  .custom-navbar .tab-button {
    color: #ffffff !important; }

body, ul, li {
  height: 100% !important; }

.vertical {
  min-height: 85%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh;
  /* These two lines are counted as one :-)       */
  position: fixed;
  display: flex;
  right: 20px;
  top: 70px;
  align-items: center;
  z-index: 5; }

.container-cus {
  align-content: stretch;
  background-color: #EEEFEF !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.li-box {
  background-color: #EEEFEF !important;
  cursor: pointer;
  float: left;
  position: relative;
  padding: 26px 15px 26px 15px; }

.li-box:hover, .li-box:focus, .li-box:active, .li-box:active, .li-box:target {
  background-color: #00C2D9 !important; }
  .li-box:hover .icon, .li-box:hover .text, .li-box:focus .icon, .li-box:focus .text, .li-box:active .icon, .li-box:active .text, .li-box:active .icon, .li-box:active .text, .li-box:target .icon, .li-box:target .text {
    color: white; }

.darker-icon {
  background-color: #E8E8E8 !important; }

.icon {
  text-align: center;
  overflow: hidden;
  color: #00d5ef;
  font-size: 150px;
  padding-top: 0px;
  font-family: arabic;
  border: none; }

.text {
  text-align: center;
  padding-top: 0px;
  color: #00d5ef;
  font-size: 25px;
  font-family: arabic;
  border: none; }

.brand-custom {
  position: relative;
  display: inline-block;
  top: 3px;
  align-items: center;
  z-index: 5; }

.first-row {
  width: 100%;
  height: 304px !important;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: auto !important; }

.second-row {
  width: 100%;
  height: 304px !important;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA !important;
  overflow-y: auto; }

.body-background {
  margin: 0;
  background-color: #EEEFEF !important;
  height: 100%; }

.shortcut-menu {
  text-align: center;
  height: 100%;
  max-height: 100%;
  position: relative;
  vertical-align: middle;
  display: inline-block; }
  .shortcut-menu .vcenter {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    height: 100%;
    width: 50%; }

.shortcut_item {
  margin: 0 0 30px 0;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  background-color: #00C2D9;
  border-radius: 999px;
  border: 0 solid #ffffff;
  font-family: arabic;
  height: 45px;
  width: 45px;
  color: #ffffff;
  line-height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .shortcut_item .icon-conf {
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px; }

.shortcut_item:hover, .shortcut_item:active, .shortcut_item:focus, .shortcut_item:after, .shortcut_item:target {
  background-color: #007c8b; }

.cus-active, .cus-div .cus-li:hover, .cus-div .cus-li:active, .cus-div .cus-li:after, .cus-div .cus-li:focus {
  background-color: #009bae; }

.user-tab {
  background-color: #00C2D9; }

.user-tab:hover, .user-tab:active, .user-tab:focus, .user-tab:after, .user-tab:target {
  background-color: #009bae; }
  .user-tab:hover a:target, .user-tab:active a:target, .user-tab:focus a:target, .user-tab:after a:target, .user-tab:target a:target {
    background-color: #009bae; }

.nav-link1, .cus-active, .cus-div .cus-li:hover, .cus-div .cus-li:active, .cus-div .cus-li:after, .cus-div .cus-li:focus {
  height: 50px;
  border-bottom: 3px solid #00e9ff !important;
  color: #ffffff !important; }

.dropdown-links {
  font-size: 17px; }
  .dropdown-links .notification {
    color: #007482 !important; }

.dropdown-links:hover, .dropdown-links:after, .dropdown-links:active, .dropdown-links:focus, .dropdown-links:target {
  background-color: #00C2D9 !important; }

.notification:hover, .notification:focus, .notification:after, .notification:active, .notification:target {
  color: #ffffff !important;
  background-color: #00C2D9 !important; }

.cus-footer {
  position: relative;
  float: left;
  width: 300px;
  height: 30px;
  background-color: #00C2D9;
  border-radius: 0 15px 0 0;
  border: 0px solid white;
  color: #ffffff; }
  .cus-footer p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
    text-align: center; }

.cus-footer:hover {
  background-color: #009bae; }

/*# sourceMappingURL=custom-style.css.map */
