{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-lg-11 col-xs-10">
        <div class="mainmenu">
            <a href="{% url 'Branches:add_branch' %}" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="text">
إضافة فرع
                </div>
            </a>
            <a href="{% url 'Branches:list_branches' %}" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-bank"></i>
                </div>
                <div class="text">
الفروع
                </div>
            </a>
        </div>
    </div>
{% endblock %}