{% extends 'Core/empty_base.html' %}
{% block body %}

                            <table class="table table-responsive table-bordered">
                                <thead>
                                <tr>
                                    <td class="bg-success">الصنف</td>
                                    <td class="bg-success">عدد:وحدة</td>
                                    <td class="bg-success">السعر</td>
                                    <td class="bg-success">الإجمالي</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invoice_item in invoice_items %}
                                    <tr>
                                        <td>{{ invoice_item.item.item }}</td>
                                        <td>
                                            {{ invoice_item.main_unit_quantity }} : {{ invoice_item.med_unit_quantity }}
                                        </td>
                                        <td>
                                            {{ invoice_item.main_unit_price }} : {{ invoice_item.med_unit_price }}
                                        </td>
                                        <td>{{ invoice_item.total_price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="bg-success">الإجمالي</td>
                                    <td class="bg-success"></td>
                                    <td class="bg-success"></td>
                                    <td class="bg-success">{{ this_invoice_total }}</td>
                                </tr>
                                </tfoot>
                            </table>
{% endblock %}