{% extends 'Core/base.html' %}
{% block body %}

    <div class="col-lg-11 col-xs-10 system_page">
        <div class="panel" style="overflow-y: auto;">
            <div class="panel-heading bg-pharma-blue center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 center">
                        عرض الفواتير

                    </div>
                </div>
            </div>
            <div class="panel-body main_panel" style="overflow-y: auto;">

                <div class="center">
                    <button class="btn btn-info" onclick="all_invoices()">كل الفواتير</button>
                    <button class="btn btn-danger" onclick="unsaved_invoices()">الفواتير الغير محفوظة</button>
                    <button class="btn btn-warning" onclick="saved_invoices()">الفواتير قيد الدفع</button>
                    <button class="btn btn-success" onclick="paid_invoices()">الفواتير المدفوعة</button>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center" id="list_invoices">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('document').ready(function () {
            $(".select2").select2();
        });
        function all_invoices() {
            var invoicesDiv = $('#list_invoices');
            invoicesDiv.load(window.location.origin + '{% url 'Sales:all_invoices' %}');
        }
        function unsaved_invoices() {
            var invoicesDiv = $('#list_invoices');
            invoicesDiv.load(window.location.origin + '{% url 'Sales:unsaved_invoices' %}');
        }
        function saved_invoices() {
            var invoicesDiv = $('#list_invoices');
            invoicesDiv.load(window.location.origin + '{% url 'Sales:saved_invoices' %}');
        }
        function paid_invoices() {
            var invoicesDiv = $('#list_invoices');
            invoicesDiv.load(window.location.origin + '{% url 'Sales:paid_invoices' %}');
        }
    </script>
{% endblock %}