{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-lg-11 col-xs-10">
        <div class="mainmenu">
            <a href="{% url 'Sales:customer_reports' %}" class="menuitem">
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="text">
                   تقارير العملاء
                </div>
            </a>
            <a href="{% url 'Sales:product_reports' %}" class="menuitem">
                <div class="icon">
                    <i class="fa fa-undo"></i>
                </div>
                <div class="text">
تقارير المنتجات
                </div>
            </a>
            <a href="{% url 'Sales:invoice_reports' %}" class="menuitem">
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="text">
تقارير الفواتير
                </div>
            </a>
        </div>
    </div>
{% endblock %}