{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2 col-xs-12 vertical-content">
        <div class="col-md-4 col-xs-12 li-box pull-right darker-icon">
            <a href="{% url 'Sales:new_invoice' %}">
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="text">
                    فاتورة مبيعات
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12 li-box pull-right darker-icon">

            <a href="#">
                <div class="icon">
                    <i class="fa fa-undo"></i>
                </div>
                <div class="text">
                    مرتجع مبيعات
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12 li-box pull-right darker-icon">
            <a href="#">
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="text">
                    تقارير المبيعات
                </div>
            </a>
        </div>
    </div>

{% endblock %}