{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-lg-11 col-xs-10">
        <div class="mainmenu">
            <a href="#" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="text">
فاتورة مشتريات
                </div>
            </a>
            <a href="#" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="text">
الموردين
                </div>
            </a>
            <a href="#" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-undo"></i>
                </div>
                <div class="text">
مرتجع مشتريات
                </div>
            </a>
            <a href="#" class="menuitem bg-black">
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="text">
تقارير المشتريات
                </div>
            </a>
        </div>
    </div>
{% endblock %}