{% extends 'Core/base.html' %}
{% block body %}
    <div class="modal fade" role="dialog" id="productSetting">
        <div class="modal-dialog">
            <div class="modal-header bg-pharma-blue">
                إدارة المنتج
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">&times;
                </button>

            </div>
            <div class="modal-body bg-pharma-green" id="productModal">

            </div>
        </div>
    </div>

    <div class="col-lg-11 col-xs-10 system_page">
        <div class="panel" style="overflow-y: auto;">
            <div class="panel-heading bg-pharma-blue center">
                إدارة المنتجات
            </div>
            <div class="panel-body main_panel" style="overflow-y: auto;">
                <select id="select2" name="id" class="select2 form-control" onchange="get_product_settings()">
                    <option selected>اختر دواء</option>
                    {% for x in all_products %}
                        <option value="{{ x.id }}"
                                {% if x.main_unit_stock == 0 %}
                                class="bg-danger"
                                {% endif %}
                        >
                            {{ x.barcode }}
                            {{ x.commercial_name }} ||
                            {{ x.type }} ||
                            {{ x.arabic_name }} ||
                            {{ x.generic_name }}
                        </option>
                    {% endfor %}
                </select>
            <div class="row">
                <div id="product_setting">

                </div>
            </div>
            </div>
        </div>
    </div>
    <script>
    function get_product_settings() {
        var myDiv = $('#productModal');
        var id = $('.select2 option:selected').val();
        var myModal = $('#productSetting');
        myModal.modal('show');
        myDiv.load(window.location.origin + '{% url 'System_Setting:product_setting' %}' + '?id=' + id);
    }
    </script>
{% endblock %}