{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-lg-11 col-xs-10">
        <div class="mainmenu">
            <a href="#" class="menuitem bg-red">
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="text">
بيانات الصيدلية
                </div>
            </a>
            <a href="#" class="menuitem bg-red">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="text">
الموظفين
                </div>
            </a>
            <a href="#" class="menuitem bg-red">
                <div class="icon">
                    <i class="fa fa-product-hunt"></i>
                </div>
                <div class="text">
ادارة المنتجات
                </div>
            </a>
            <a href="#" class="menuitem bg-red">
                <div class="icon">
                    <i class="fa fa-gear"></i>
                </div>
                <div class="text">
إدارة البرنامج
                </div>
            </a>
        </div>
    </div>
{% endblock %}