{% extends 'Core/base.html' %}
{% block body %}
            <div class="col-md-3 col-xs-12 li-box">
                <a href="{% url 'Sales:index' %}" class="">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="text">
                        <p>المبيعات</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box">
                <a href='{% url 'Delivery:index' %}' class=" ">
                    <div class="icon">
                        <i class="fa fa-motorcycle"></i>
                    </div>
                    <div class="text">
                        <p>الدليفري</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box">
                <a href="{% url 'Accounts:index' %}" class="">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="text">
                        <p> الحسابات</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box">
                <a href="{% url 'System_Setting:index' %}" class=" ">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="text">
                        <p> إدارة البرنامج</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box darker-icon">
                <a href="{% url 'Stock:index' %}" class="">
                    <div class="icon">
                        <i class="fa fa-barcode"></i>
                    </div>
                    <div class="text">
                        <p> المخزون</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box darker-icon">
                <a href="{% url 'Purchases:index' %}" class="">
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="text">
                        <p>المشتريات</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box darker-icon">
                <a href="{% url 'Branches:index' %}" class=" ">
                    <div class="icon">
                        <i class="fa fa-bank"></i>
                    </div>
                    <div class="text">
                        <p>الفروع</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-12 li-box darker-icon">
                <a href="#" class=" ">
                    <div class="icon">
                        <i class="fa fa-list-alt"></i>
                    </div>
                    <div class="text">
                        <p>التقارير</p>
                    </div>
                </a>
            </div>

{% endblock %}