<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1,url={% url 'Core:index' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}.::: PharmaPlus :::.{% endblock %}</title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "bootstrap/css/style.css" %}' rel="stylesheet">
    <link href='{% static "plugins/select2/select2.css" %}' rel="stylesheet">
    <link rel="stylesheet" href='{% static "font_awesome/css/font-awesome.min.css" %}'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<body>
<div class="center">
<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i><br>
جاري التحميل .....
</div>
</body>
</html>