{% extends 'Core/base.html' %}
{% block body %}
    <div class="col-lg-11 col-xs-10">
        <div class="mainmenu">
            <a href="#" class="menuitem bg-orange">
                <div class="icon">
                    <i class="fa fa-motorcycle"></i>
                </div>
                <div class="text">
موظفين الدليفري
                </div>
            </a>
            <a href="#" class="menuitem bg-orange">
                <div class="icon">
                    <i class="fa fa-map"></i>
                </div>
                <div class="text">
مناطق الدليفري
                </div>
            </a>
            <a href="#" class="menuitem bg-orange">
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="text">
تقارير الدليفري
                </div>
            </a>
        </div>
    </div>
{% endblock %}